<% pieChartDistribution = measure("summary-piechart") %>

<div class="dashbox">
   <table>
   		<tr>
   			<td valign="top" width="40%">
   				<table>
   					<tr>
   						<tr>
   							<td align="left">
   								<h3><%= message('docfacto.links.summary.title') -%></h3>
   								<br />
   								
   								<h3>Documented Source Lines</h3>
   								<p>
	   								<span class="big">
	   									 <%= format_measure('percentage-of-lines-of-code-linked-to-doc') -%>%
	   								</span>
   								</p>
   								<br />
   								
   								<h3>Statistics</h3>
   								
   								<table>
   									<tr>
   										<td align="right" width="40px">
   										<p><%= format_measure('code-lines') -%></p>
   										</td>
   										<td style="width:10px;"></td>
   										<td><p>Number of source lines</p></td>
   									</tr>
   									<tr>
   										<td align="right" width="40px">
   										<p><%= format_measure('lines-of-code-linked-to-doc') -%></p>
   										</td>
   										<td style="width:10px;"></td>
   										<td><p>Number of source lines linked to documentation</p></td>
   									</tr>
   									<tr>
   										<td align="right" width="40px">
   										<p><%= format_measure('doc-lines') -%></p>
   										</td>
   										<td style="width:10px;"></td>
   										<td><p>Number of document lines</p></td>
   									</tr>
   								</table>
   						</td>
   					</tr>
   				</table>
   			</td>
   			<td align="center" valign="middle" width="60%" nowrap>
   				<table>
				   <p>
						<% query="ck=pieChart&w=390&h=180&v=" + u(pieChartDistribution.data) %> 		
						<%= chart(query) -%>
				   </p>
   				</table>
   			</td>
   		</tr>
   </table>
</div>
