<div class="dashbox">
   <br />
   <h3><%= message('docfacto.links.statistics.title') -%></h3>
   <br />
   <p>
      <table>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('source-files-processed').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('source-files-processed') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('doc-files-processed').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('doc-files-processed') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('source-lines').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('source-lines') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('code-lines').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('code-lines') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('comment-lines').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('comment-lines') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('doc-lines').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('doc-lines') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('doc-link-found').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('doc-link-found') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('source-link-found').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('source-link-found') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('links-with-unknown-type').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('links-with-unknown-type') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('doc-link-tag-no-uri').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('doc-link-tag-no-uri') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('source-link-tag-no-uri').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('source-link-tag-no-uri') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('doc-link-invalid-uri').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('doc-link-invalid-uri') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('source-link-invalid-uri').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('source-link-invalid-uri') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('source-broken-link').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('source-broken-link') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('doc-broken-link').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('doc-broken-link') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('source-link-version-mismatch').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('source-link-version-mismatch') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('doc-link-version-mismatch').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('doc-link-version-mismatch') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('source-link-matched').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('source-link-matched') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('doc-link-matched').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('doc-link-matched') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('source-ioexception').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('source-ioexception') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('doc-ioexception').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('doc-ioexception') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('unknown-file-type').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('unknown-file-type') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('unknown-target-file-type').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('unknown-target-file-type') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('links-errors').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('links-errors') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('links-warnings').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('links-warnings') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('links-info').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('links-info') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('source-files-with-doc-link').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('source-files-with-doc-link') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('doc-files-with-source-link').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('doc-files-with-source-link') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('lines-of-code-linked-to-doc').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('lines-of-code-linked-to-doc') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('lines-of-doc-linked-to-source').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('lines-of-doc-linked-to-source') -%> </td></tr>
      </table>
   </p>
</div>
