@CHARSET "US-ASCII";

#banner #navLogin {
	float:right;
	margin: 0;
}

nav #navLoginContent {
  display: none;
  position: absolute;
  top: 3.5em;
  right: 1em;
  z-index: 999;
  padding: 1.2em;
  background-color: white;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}

#navLoginContent #inputs, #navLoginContent #actions {
	border: 0;
	padding: 0;
}

#navLoginContent {
	border:1px solid black;
	border-top:none;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}