/* 
-----------------------
Taglet styles --------------- VERSION 2.4.6
-----------------------
*/

/* Base styles for DocFacto taglet elements */
.docfacto-taglet { }

.docfacto-taglet code, p code {
  padding: 2px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 3px; 
}

.docfacto-taglet pre, p pre {
  height: 350px;
  display: block;
  padding: 8.5px;
  margin: 0 0 9px;
  overflow-y: scroll;
  font-size: 12.025px;
  line-height: 18px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f6f6f8;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

/* Define block/inline level attributes for display */
.docfacto-taglet-block { display: block; padding: 6px 8px 6px 6px; margin: 6px 5px 10px; background: #fff; }
.docfacto-taglet-inline { display: inline; display: inline-block; padding: 6px; margin: 0px 8px 0 5px; }

/* --- Header bar -- */
.docfacto-taglet h4 { padding: 1px 5px 1.5px 5px;
	margin: -6px -6px 4px; color: #fafafa; text-shadow: 1px 1px 2px RGBA(30,30,30,0.5); font-weight: bold; display: block;  min-height: 5px;
}
.docfacto-taglet h4.docfacto-title{
	 padding: 5px;
}

/* --- Taglet specific header backgrounds --- */
.docfacto-taglet-note h4 { background: #7cb2f6; }
.docfacto-taglet-system h4 { background: #274E7D }
.docfacto-taglet-example h4 { background: #009E8D }

/* -- System Taglet : Code and text samples */
.docfacto-taglet-system { width: 90%; padding-bottom: 16px; color: #333; background: #ededed; border-radius: 8px;
	border-top-right-radius: 0; border-top-left-radius: 0; border-top: 6px solid #;
}

/* --- Note Taglet : Arbitrary textual content. Allows nesting. --- */
.docfacto-taglet-note {
	margin-top: 8px; background: #FFF;
	border: 1px solid #3BA3D0;
	box-shadow: 1px 1px 3px RGBA(30,30,30,0.5);
}

/* Ensure nesting doesn't get too noisy */
.docfacto-taglet .docfacto-taglet-note { width: 97%; margin-bottom: 12px; }

.docfacto-taglet-note .docfacto-taglet-note { padding-left: 5px; box-shadow: none; }
.docfacto-taglet-note .docfacto-taglet-note .docfacto-icon { display: none; }
.docfacto-taglet-note .docfacto-taglet-note:before { display: block; }

/* --- ToDo Taglet : Highlighted text */
.docfacto-taglet-todo { margin: 5px; color: #FAFAFA; background: #3BA3D0; border-radius: 4px; }
.docfacto-taglet-todo h4 { margin: 0; display: inline; color: #FFF; }
.docfacto-taglet-todo ul { padding: 0 0 0 40px; margin: 0; }
.docfacto-taglet-todo li { font-size: 95%; }

/* -- Since Taglet : Emphasised, possibly highlighted number */
.docfacto-taglet-since { }
.docfacto-taglet-since .highlight { 
	background: #FE8600; color: #FAFAFA;
	padding: 4px; border-radius: 4px;
	font-weight: bold; text-shadow: 1px 1px 2px RGBA(30,30,30,0.5);
	display: inline; display: inline-block; }

/* -- Example Taglet */
.docfacto-taglet-example { width: 90%; color: #333; background: #ededed;
	border-radius: 8px; border-top-right-radius: 0; border-top-left-radius: 0; 
}
.docfacto-taglet-example pre { margin: 8px 14px; max-height: 400px; overflow-y: scroll; }

.docfacto-taglet .docfacto-taglet-example { width: 97%; margin-bottom: 12px; border: 1px solid #ddd; background: #2F5A53; }

/* 
--------------------------
ICONS 
--------------------------

Icons from http://glyphicons.com/, licensed under http://creativecommons.org/licenses/by/3.0/
As used in Twitter Bootstrap : http://twitter.github.com/bootstrap/

*/

.docfacto-icon { 
	width: 14px; height: 14px; display: inline-block; margin-right: .3em; line-height: 14px;
	vertical-align: text-top;
	background-position: 14px 14px;
	background-repeat: no-repeat;
	background-image: url('/resources/icons.png');  
}

.docfacto-icon-white { background-image: url('/resources/icons-white.png'); }

.icon-glass {
  background-position: 0      0;
}

.icon-music {
  background-position: -24px 0;
}

.icon-search {
  background-position: -48px 0;
}

.icon-envelope {
  background-position: -72px 0;
}

.icon-heart {
  background-position: -96px 0;
}

.icon-star {
  background-position: -120px 0;
}

.icon-star-empty {
  background-position: -144px 0;
}

.icon-user {
  background-position: -168px 0;
}

.icon-film {
  background-position: -192px 0;
}

.icon-th-large {
  background-position: -216px 0;
}

.icon-th {
  background-position: -240px 0;
}

.icon-th-list {
  background-position: -264px 0;
}

.icon-ok {
  background-position: -288px 0;
}

.icon-remove {
  background-position: -312px 0;
}

.icon-zoom-in {
  background-position: -336px 0;
}

.icon-zoom-out {
  background-position: -360px 0;
}

.icon-off {
  background-position: -384px 0;
}

.icon-signal {
  background-position: -408px 0;
}

.icon-cog {
  background-position: -432px 0;
}

.icon-trash {
  background-position: -456px 0;
}

.icon-home {
  background-position: 0 -24px;
}

.icon-file {
  background-position: -24px -24px;
}

.icon-time {
  background-position: -48px -24px;
}

.icon-road {
  background-position: -72px -24px;
}

.icon-download-alt {
  background-position: -96px -24px;
}

.icon-download {
  background-position: -120px -24px;
}

.icon-upload {
  background-position: -144px -24px;
}

.icon-inbox {
  background-position: -168px -24px;
}

.icon-play-circle {
  background-position: -192px -24px;
}

.icon-repeat {
  background-position: -216px -24px;
}

.icon-refresh {
  background-position: -240px -24px;
}

.icon-list-alt {
  background-position: -264px -24px;
}

.icon-lock {
  background-position: -287px -24px;
}

.icon-flag {
  background-position: -312px -24px;
}

.icon-headphones {
  background-position: -336px -24px;
}

.icon-volume-off {
  background-position: -360px -24px;
}

.icon-volume-down {
  background-position: -384px -24px;
}

.icon-volume-up {
  background-position: -408px -24px;
}

.icon-qrcode {
  background-position: -432px -24px;
}

.icon-barcode {
  background-position: -456px -24px;
}

.icon-tag {
  background-position: 0 -48px;
}

.icon-tags {
  background-position: -25px -48px;
}

.icon-book {
  background-position: -48px -48px;
}

.icon-bookmark {
  background-position: -72px -48px;
}

.icon-print {
  background-position: -96px -48px;
}

.icon-camera {
  background-position: -120px -48px;
}

.icon-font {
  background-position: -144px -48px;
}

.icon-bold {
  background-position: -167px -48px;
}

.icon-italic {
  background-position: -192px -48px;
}

.icon-text-height {
  background-position: -216px -48px;
}

.icon-text-width {
  background-position: -240px -48px;
}

.icon-align-left {
  background-position: -264px -48px;
}

.icon-align-center {
  background-position: -288px -48px;
}

.icon-align-right {
  background-position: -312px -48px;
}

.icon-align-justify {
  background-position: -336px -48px;
}

.icon-list {
  background-position: -360px -48px;
}

.icon-indent-left {
  background-position: -384px -48px;
}

.icon-indent-right {
  background-position: -408px -48px;
}

.icon-facetime-video {
  background-position: -432px -48px;
}

.icon-picture {
  background-position: -456px -48px;
}

.icon-pencil {
  background-position: 0 -72px;
}

.icon-map-marker {
  background-position: -24px -72px;
}

.icon-adjust {
  background-position: -48px -72px;
}

.icon-tint {
  background-position: -72px -72px;
}

.icon-edit {
  background-position: -96px -72px;
}

.icon-share {
  background-position: -120px -72px;
}

.icon-check {
  background-position: -144px -72px;
}

.icon-move {
  background-position: -168px -72px;
}

.icon-step-backward {
  background-position: -192px -72px;
}

.icon-fast-backward {
  background-position: -216px -72px;
}

.icon-backward {
  background-position: -240px -72px;
}

.icon-play {
  background-position: -264px -72px;
}

.icon-pause {
  background-position: -288px -72px;
}

.icon-stop {
  background-position: -312px -72px;
}

.icon-forward {
  background-position: -336px -72px;
}

.icon-fast-forward {
  background-position: -360px -72px;
}

.icon-step-forward {
  background-position: -384px -72px;
}

.icon-eject {
  background-position: -408px -72px;
}

.icon-chevron-left {
  background-position: -432px -72px;
}

.icon-chevron-right {
  background-position: -456px -72px;
}

.icon-plus-sign {
  background-position: 0 -96px;
}

.icon-minus-sign {
  background-position: -24px -96px;
}

.icon-remove-sign {
  background-position: -48px -96px;
}

.icon-ok-sign {
  background-position: -72px -96px;
}

.icon-question-sign {
  background-position: -96px -96px;
}

.icon-info-sign {
  background-position: -120px -96px;
}

.icon-screenshot {
  background-position: -144px -96px;
}

.icon-remove-circle {
  background-position: -168px -96px;
}

.icon-ok-circle {
  background-position: -192px -96px;
}

.icon-ban-circle {
  background-position: -216px -96px;
}

.icon-arrow-left {
  background-position: -240px -96px;
}

.icon-arrow-right {
  background-position: -264px -96px;
}

.icon-arrow-up {
  background-position: -289px -96px;
}

.icon-arrow-down {
  background-position: -312px -96px;
}

.icon-share-alt {
  background-position: -336px -96px;
}

.icon-resize-full {
  background-position: -360px -96px;
}

.icon-resize-small {
  background-position: -384px -96px;
}

.icon-plus {
  background-position: -408px -96px;
}

.icon-minus {
  background-position: -433px -96px;
}

.icon-asterisk {
  background-position: -456px -96px;
}

.icon-exclamation-sign {
  background-position: 0 -120px;
}

.icon-gift {
  background-position: -24px -120px;
}

.icon-leaf {
  background-position: -48px -120px;
}

.icon-fire {
  background-position: -72px -120px;
}

.icon-eye-open {
  background-position: -96px -120px;
}

.icon-eye-close {
  background-position: -120px -120px;
}

.icon-warning-sign {
  background-position: -144px -120px;
}

.icon-plane {
  background-position: -168px -120px;
}

.icon-calendar {
  background-position: -192px -120px;
}

.icon-random {
  background-position: -216px -120px;
}

.icon-comment {
  background-position: -240px -120px;
}

.icon-magnet {
  background-position: -264px -120px;
}

.icon-chevron-up {
  background-position: -288px -120px;
}

.icon-chevron-down {
  background-position: -313px -119px;
}

.icon-retweet {
  background-position: -336px -120px;
}

.icon-shopping-cart {
  background-position: -360px -120px;
}

.icon-folder-close {
  background-position: -384px -120px;
}

.icon-folder-open {
  background-position: -408px -120px;
}

.icon-resize-vertical {
  background-position: -432px -119px;
}

.icon-resize-horizontal {
  background-position: -456px -118px;
}

.icon-hdd {
  background-position: 0 -144px;
}

.icon-bullhorn {
  background-position: -24px -144px;
}

.icon-bell {
  background-position: -48px -144px;
}

.icon-certificate {
  background-position: -72px -144px;
}

.icon-thumbs-up {
  background-position: -96px -144px;
}

.icon-thumbs-down {
  background-position: -120px -144px;
}

.icon-hand-right {
  background-position: -144px -144px;
}

.icon-hand-left {
  background-position: -168px -144px;
}

.icon-hand-up {
  background-position: -192px -144px;
}

.icon-hand-down {
  background-position: -216px -144px;
}

.icon-circle-arrow-right {
  background-position: -240px -144px;
}

.icon-circle-arrow-left {
  background-position: -264px -144px;
}

.icon-circle-arrow-up {
  background-position: -288px -144px;
}

.icon-circle-arrow-down {
  background-position: -312px -144px;
}

.icon-globe {
  background-position: -336px -144px;
}

.icon-wrench {
  background-position: -360px -144px;
}

.icon-tasks {
  background-position: -384px -144px;
}

.icon-filter {
  background-position: -408px -144px;
}

.icon-briefcase {
  background-position: -432px -144px;
}

.icon-fullscreen {
  background-position: -456px -144px;
}
