@CHARSET "US-ASCII";

h2 {
	font-size: 1.571em;
}

h3 {
	font-size: 1.429em
}

h4 {
	font-size: 1.286em
}

h5 {
	font-size: 1.143em
}

h6 {
	font-size: 1em
}

h3,h4,h5,h6 {
	font-weight: 100;
	margin-bottom: .8em;
}

input:focus {
	outline: 0;
}

button {
	outline: 0;
}

/**
	Tooltip
*/
.ui-tooltip-content {
    position: relative;
    padding: 1em;
    background: #33393d;
    color: white;
}
.ui-tooltip-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
}
.rightTooltip .ui-tooltip-content::after {
    top: 18px;
    left: -10px;
    border-color: transparent #33393d;
    border-width: 10px 10px 10px 0;
}

#banner {
	position: fixed;
	top: 0;
	left: 0;
	z-index:1;'
}

.logo {
	position: absolute;
	left: 1em;
	top: 0.6em;
	width: 3.3em;
	opacity: 1;
}

.body {
	clear: both;
	margin: 0 auto;
	width: 100%;
}

body {
	color: #000305;
	font-size: 62.5%; /* (equals 10px because 10px / 16 = 0.625) */
	font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode',
		'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	line-height: 140.625%;
	margin: 0;
	padding: 0;
	text-align: left;
	height: 100%;
}

.dialog {
	font-size: 1.1em;
}

.hidden {
	visibility: hidden;
}

.ui-tabs-anchor {
	outline: none;
}

.ui-dialog-title {
	font-weight: normal;
}

.ui-button {
}

#tabs {
	float: left;
	width: 100%;
}

#content {
	overflow:hidden;
	margin-top: 4em;
	padding-bottom:2em;
	width: auto;
	background: #fff;
}

#banner {
	margin: 0 auto;
	padding: 0 0 0 0;
}

#banner nav {
	background: #33393d;
	font-size: 1.143em;
	height: 3.5em;
	line-height: 2.5em;
	margin: 0 auto 0 auto;
	padding: 0;
	text-align: left;
	width: 100%;
}

#banner nav ul {
	margin: 0;
	padding: 0;
	width: 100%;
}

#banner nav li {
	float: left;
	display: inline;
	margin: 0;
	padding: 0;
}

#banner nav a:link,#banner nav a:visited {
	color: #fff;
	display: inline-block;
	height: 30px;
	padding: 5px 1.5em;
	text-decoration: none;
	text-align: left;
}

#banner nav a:hover,#banner nav a:active,#banner nav .active a:link,#banner nav .active a:visited
	{
	color: #fff;
	text-shadow: none !important;
	text-decoration: underline;
}

header,section,footer,aside,nav,article,figure {
	display: block;
}

#projectConfigurationForm {
	margin-bottom: 1em;
}

#projectConfigurationButtons button {
	margin: 0.5em 0.5em 0 0;
	width: 10em;
}

#packagesSelector button {
	margin: 0.5em 0.5em 0 0;
}

.addProjectButton {
	margin-top: 1em;
}

.warningLabel {
	padding: 1em;
	color: red;
}

/* Projects List */
.form-label {
	padding-right:1em;
}

#projectsListWrapper {
	/*Default width is 0, but should change when shown */
	width: 0;
	/*Overflow is set to hidden, so when the width is zero, the contents aren't shown */
	overflow:hidden;
	min-height: 15em;
	float: left;
	border-left:none;
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
	margin-top: 2em;
	
}

#projectsListContainer {
	/*margin:2em 1em 2em 2em;*/
	padding:2em;
	max-height:100%;
	border:none;
}

#numberOfProjectsLeftWrapper {
	width: 80%;
}

#numberOfProjectsLeft {
	padding: 1.5em 0 0 0.5em;
}

.projectsList {
	padding-top: 2em;
	padding-bottom: 2em;
	background: #FFFFFF; /* old browsers */
	margin: 0;
	color: #333;
	list-style: none;
	padding-left: 0;
}

.projectsListTable {
	border-collapse: separate;
	float: left;
}

.projectsListItemOuter {
	margin-bottom: 1em;
}

.projectsListItemWrapper {
	width: 100%;
}

.selectedProjectsListItem {
	background: #ffffff;
	padding: 1em 2em 1em 2em;
	overflow: hidden;
	border: 1px solid #33393d;
	font-weight: bold;
	color: #33393d;
}

.projectsListItem {
	background: #ffffff;
	padding: 1em 2em 1em 2em;
	overflow: hidden;
	color: #b1b1b1;
}

.projectsListItemIcon {
	float: left;
	position: relative;
	top: 0.2em;
}

.projectsListItemText {
	float: left;
	position: relative;
	top: 0.5em;
	margin-left: 1em;
}

.projectsListItemButton {
	float: right;
}

.projectsListItemLink:hover {
	text-decoration: none;
}

.buttonLink {
	display: block;
	background-color: grey;
}

#projectContent {
	overflow:hidden;
}

#projectSelectedWrapper {
	margin-top:2em;
}

#projectSelected {
	font-size: 1.1em;
	padding:1em;
}

#tabContainerWrapper {
	overflow: hidden;
}

#tabContainerWrapper h1 {
	
}

#tabContainerWrapper a {
	/* display:block; */
	text-decoration: none;
}

#tabContainer {
	overflow:hidden;
	padding-right:2em;
}

/* Project Configuration */
#projectConfigurationWrapper {
	float: left;
	width: 100%;
}

#projectConfigurationAccordionWrapper {
	margin-right: 2em;
}

#projectConfiguration {
	margin-bottom: 2em;
	padding: 1em;
	position: relative;
}

/* Project Details */
#projectDetails {
	margin-bottom: 2em;
	padding: 1em;
}

.projectDetailsFormLabel {
	display: block;
	float: left;
	width: 15em;
}

#projectDetailsAccordionWrapper {
	margin-bottom: 2em;
}

/* Project Summary */
#projectSummaryWrapper {
	float: left;
	width: 100%;
}

#projectSummaryAccordionWrapper {
	margin-bottom: 2em;
	margin-right: 2em;
}

#projectSummary {
	margin-bottom: 2em;
	padding: 2em 3em;
}

#projectSummaryTextWrapper {
	float: left;
	width: 20%;
	clear: left;
}

#projectSummaryTextAccordionWrapper {
	margin-right: 2em;
	margin-bottom: 2em;
}

#projectSummaryChartsWrapper {
	float: right;
	width: 80%;
	clear: right;
}

#projectSummaryChartsAccordionWrapper {
	margin-bottom: 2em;
}

.summaryChartsSectionWrapper {
	display: inline-block;
	vertical-align: top;
}

.summaryTextSectionWrapper {
	display: inline-block;
	vertical-align: top;
}

.summaryTextSection {
	font-weight: bold;
}

.summaryTextBlock {
	float: left;
	padding: 1em;
}

.summaryTextValue {
	font-size: 2em;
}

.summaryCharts {
	
}

.summaryGaugeChartWrapper {
	padding: 1em;
}

.summaryGaugeBlockWrapper {
	
}

.summaryGaugeBlock {
	float: left;
	display: block;
	text-align: center;
	font-weight: bold;
	width: 25em;
	padding: 1em;
}

.summaryGaugeBlock td {
	padding-right:1em;
}

.nonSelectableChartBlock .summaryGaugeBlock {
	/* height: 28em; */
}

.summaryGaugeBlockLink {
	display: inline-block;
	border: 1px solid white;
}

.nonSelectableChartBlock:hover {
	cursor: default;
}

.selectableChartBlock:hover {
	cursor: pointer;
}

.summaryGaugeChart {
	font-weight: normal;
}

.summaryGaugeChartWrapper {
	margin: 0 auto;
	width: 85%;
}

.summaryGaugeChartStatisticsWrapper {
	height: 4em;
}

.summaryGaugeChartStatistics {
	text-align: left;
}

.summaryGaugeChartTable {
	margin: 0 auto;
	border-spacing: 2em 0;
}

.summaryChartArrowWrapper {
	margin: 1.25em auto;
	width: 1.5em;
}

.selectableChartBlock .summaryChartArrow {
	/* height: 2em; */
	height: 0;
	width: 0;
	border: 1.5em solid transparent;
	border-top-color: #ffffff;
	top: 0.25em;
}

.selectableChartBlock:hover .summaryChartArrow {
	height: 0;
	width: 0;
	border: 1.5em solid transparent;
	border-top-color: #b1b1b1;
	top: 0.25em;
}

.nonSelectableChartBlock .summaryChartArrowWrapper {
	margin: 0;
}

.selectedGaugeChart .summaryChartArrow {
	height: 0;
	width: 0;
	border: 1.5em solid transparent;
	border-top-color: #000;
	top: 0.25em;
}

.extraSummaryChartsWrapper {
	padding-left: 4em;
}

.extraSummaryCharts {
	border: 1px solid #b1b1b1;
	padding-top: 1em;
}

/* Project Statistics */
#projectStatisticsWrapper {
	float: left;
	width: 100%;
	clear: left;
}

#projectStatisticsAccordionWrapper {
	margin-bottom: 2em;
}

#projectStatistics {
	padding: 1em;
	/* margin-bottom:2em; */
}

/* Error Charts - */
#errorsChartsWrapper {
	float: left;
	width: 70%;
}

#errorsChartsAccordionWrapper {
	margin-bottom: 2em;
	margin-right: 2em;
}

#errorsCharts {
	margin-bottom: 2em;
	padding: 1em;
}

.errorChart {
	margin: 0 2em;
}

/* Results Table */
#projectResultsWrapper {
	float: left;
	width: 70%;
	clear: left;
}

#projectResultsAccordionWrapper {
	margin-bottom: 2em;
	margin-right: 2em;
}

#projectResults {
	margin-bottom: 2em;
	padding: 1em;
}

/* Results Analysis Table */
.resultsAnalysisTable {
	border: 1px solid black;
	border-collapse: collapse;
	text-decoration: none;
	width: 100%;
	table-layout: fixed;
}

.resultsAnalysisTable tr:nth-child(even) {
	background: #b1cde0;
}

.resultsAnalysisTable td {
	overflow: scroll;
}

.resultsAnalysisTable th {
	color: #ffffff;
	background: #33393d;
	font-weight: normal;
}

.resultsAnalysisHeading {
	width: 10%;
}

#linksRules {
	margin-right:1em;
	margin-bottom:1em;
}

#linksPackages {
	margin-bottom:1em;
}

#tabContainerWrapper .selectedLink {
	font-weight: bold;
	color: #d82031;
}

/* Packages Selector Tree */
#packagesSelectorWrapper {
	float: right;
	width: 30%;
	clear: right;
}

#packagesSelectorAccordionWrapper {
	margin-bottom: 2em;
}

#packagesSelector {
	margin-bottom: 2em;
	padding: 1em;
}

/* Projects List */
.projectsListTab {
	float:left;
	border: 1px solid #33393d;
	border-top: none;
	background: #33393d;
	color: white;
	margin-top: 12em;
	padding: 5px 25px 8px 20px;
	font-size: 1.1em; 
	border-bottom-right-radius : 4px;
	border-bottom-left-radius: 4px;
	cursor: pointer;
	-webkit-transform-origin: 0 0;
	-webkit-transform: rotate(270deg);
	-moz-transform-origin: 0 0;
	-moz-transform: rotate(270deg);
	border-bottom-right-radius: 4px;
}

.projectsListTab:hover {
	color: #33393d;
	background: white;
}

.Content-SB-Left {
	left: 100px;
}