<div class="dashbox">
   <br />
   <h3><%= message('docfacto.adam.statistics.title') -%></h3>
   <br />
   <% internal_error_found = measure('internal-error') %>
   <% if internal_error_found %>
      <span style="color:red;"><%= message("docfacto.adam.error.message") -%> </span>
      <br />
   <% else %>
   <p>
      <table>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('packages-processed').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('packages-processed') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('packages-ignored').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('packages-ignored') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('missing-package-doc').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('missing-package-doc') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('missing-package-required-file').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('missing-package-required-file') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('classes-processed').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('classes-processed') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('classes-ignored').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('classes-ignored') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('classes-missing-javadoc').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('classes-missing-javadoc') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('interfaces-processed').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('interfaces-processed') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('interfaces-ignored').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('interfaces-ignored') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('interfaces-missing-javadoc').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('interfaces-missing-javadoc') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('enums-processed').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('enums-processed') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('enums-ignored').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('enums-ignored') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('enums-missing-javadoc').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('enums-missing-javadoc') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('enums-constant-missing-javadoc').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('enums-constant-missing-javadoc') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('methods-processed').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('methods-processed') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('methods-ignored').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('methods-ignored') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('methods-missing-javadoc').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('methods-missing-javadoc') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('methods-missing-comment').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('methods-missing-comment') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('invalid-throws').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('invalid-throws') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('invalid-params').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('invalid-params') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('invalid-return').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('invalid-return') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('constructors-processed').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('constructors-processed') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('constructors-ignored').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('constructors-ignored') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('constructor-missing-javadoc').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('constructor-missing-javadoc') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('field-processed').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('field-processed') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('field-ignored').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('field-ignored') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('field-missing-javadoc').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('field-missing-javadoc') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('missing-required-tag').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('missing-required-tag') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('missing-tag-descriptions').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('missing-tag-descriptions') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('meaningless-comment').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('meaningless-comment') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('missing-throws-description').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('missing-throws-description') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('missing-param-description').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('missing-param-description') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('missing-return-description').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('missing-return-description') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('warning-if-contains').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('warning-if-contains') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('missing-deprecated-description').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('missing-deprecated-description') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('missing-deprecated-tag').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('missing-deprecated-tag') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('invalid-first-sentence').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('invalid-first-sentence') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('html-imbalance').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('html-imbalance') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('adamlet-warning').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('adamlet-warning') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('malformed-tag').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('malformed-tag') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('invalid-see-tag').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('invalid-see-tag') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('errors').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('errors') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('warnings').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('warnings') -%> </td></tr>
         <tr class=<%= cycle("even", "odd") %>><td style="width:350px; padding-top:2px; padding-right:10px"><%= metric('info').description -%></td> <td style="width:20px; text-align:right"><%= format_measure('info') -%> </td></tr>
      </table>
   </p>
<% end; %>
</div>
